@model  Practica6.MVC.Models.SupplierView

@{
    ViewBag.Title = "Insert Suppliers";
}

<h1 class="mb-4">Vista para Insertar</h1>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Insert", "Suppliers", FormMethod.Post, new { id = "supplierForm" }))
        {
            <div class="form-group mb-3">
                @Html.LabelFor(supplier => supplier.CompanyName)
                @Html.TextBoxFor(supplier => supplier.CompanyName, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(supplier => supplier.ContactName)
                @Html.TextBoxFor(supplier => supplier.ContactName, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(supplier => supplier.ContactTitle)
                @Html.TextBoxFor(supplier => supplier.ContactTitle, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(supplier => supplier.Address)
                @Html.TextBoxFor(supplier => supplier.Address, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(supplier => supplier.City)
                @Html.TextBoxFor(supplier => supplier.City, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(supplier => supplier.Region)
                @Html.TextBoxFor(supplier => supplier.Region, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(supplier => supplier.PostalCode)
                @Html.TextBoxFor(supplier => supplier.PostalCode, new { @class = "form-control", type = "number" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(supplier => supplier.Country)
                @Html.TextBoxFor(supplier => supplier.Country, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(supplier => supplier.Phone)
                @Html.TextBoxFor(supplier => supplier.Phone, new { @class = "form-control", type = "number" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(supplier => supplier.Fax)
                @Html.TextBoxFor(supplier => supplier.Fax, new { @class = "form-control", type = "number" })
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        }
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#supplierForm").submit(function (event) {
                event.preventDefault();


                var companyName = $("#CompanyName").val();
                var contactName = $("#ContactName").val();
                var contactTitle = $("#ContactTitle").val();
                var address = $("#Address").val();
                var city = $("#City").val();
                var region = $("#Region").val();
                var postalCode = $("#PostalCode").val();
                var country = $("#Country").val();
                var phone = $("#Phone").val();
                var fax = $("#Fax").val();


                if (companyName === "") {
                    mostrarError("El nombre de la empresa es obligatorio.");
                    return;
                }

                if (contactName === "") {
                    mostrarError("El nombre de contacto es obligatorio.");
                    return;
                }

                if (contactTitle === "") {
                    mostrarError("El título de contacto es obligatorio.");
                    return;
                }

                if (address === "") {
                    mostrarError("La dirección es obligatoria.");
                    return;
                }

                if (city === "") {
                    mostrarError("La ciudad es obligatoria.");
                    return;
                }

                if (region === "") {
                    mostrarError("La región es obligatoria.");
                    return;
                }

                if (postalCode === "") {
                    mostrarError("El código postal es obligatorio.");
                    return;
                }

                if (country === "") {
                    mostrarError("El país es obligatorio.");
                    return;
                }

                if (phone === "") {
                    mostrarError("El teléfono es obligatorio.");
                    return;
                }

                if (fax === "") {
                    mostrarError("El fax es obligatorio.");
                    return;
                }


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Insert", "Suppliers")",
                    data: $("#supplierForm").serialize(),
                    success: function (response) {
                        if (response.result) {
                            mostrarExito("El proveedor se ha creado correctamente.");
                        } else {
                            mostrarError("No se pudo crear el proveedor. Error: " + response.error);
                        }
                    },
                    error: function () {
                        mostrarError("Hubo un error al comunicarse con el servidor.");
                    }
                });
            });

            function mostrarError(mensaje) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error de validación',
                    text: mensaje
                });
            }

            function mostrarExito(mensaje) {
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: mensaje
                }).then(function () {
                    window.location.href = "@Url.Action("Index", "Suppliers")";
                });
            }
        });
    </script>
}
